@page
@model myWebApp.Pages.Things.DeleteModel
@{
    ViewData["Title"] = "Delete Thing";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewData["Title"]</h1>
            
            <div class="alert alert-danger">
                <h4>Are you sure you want to delete this?</h4>
                <p>This action cannot be undone.</p>
            </div>
            
            <div class="card">
                <div class="card-header">
                    <h4>@Html.DisplayFor(model => model.Thing.Name)</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Thing.Name)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Thing.Name)</dd>
                        
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Thing.Purpose)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Thing.Purpose)</dd>
                        
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Thing.CreatedOn)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Thing.CreatedOn)</dd>
                        
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Thing.LastModified)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Thing.LastModified)</dd>
                    </dl>
                    
                    <form method="post">
                        <input type="hidden" asp-for="Thing.Id" />
                        <div class="btn-group">
                            <button type="submit" class="btn btn-danger">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                            <a asp-page="./Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to List
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
